---
---

@import "{{ site.theme }}";

@font-face {
    font-family: audiowide;
    src: url('/assets/fonts/Audiowide-Regular.ttf') format("truetype");
}

.sidebar {
    width: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}

.inner {
    width: 920px;
    float: left;
    margin: 0px;
}

.inner.header {
    position: relative;
}

.logo {
    position: relative;
    display: inline-block;
    height: 100px;
}

.logotext1 {
	font-family: audiowide;
	font-size: 36pt;
	color: #1d638f;
}

.logotext2 {
	font-family: "Courier New";
	font-size: 18pt;
	font-weight: bold;
	position: absolute;
	top: 2.1em;
	left: 3.5em;
	color: #15425e;
}

.logoline1 {
	background: linear-gradient(to right, transparent, #1d638f);
	height: 1px;
	width: 100px;
	position: absolute;
	top: 67px;
	left: -20px;
}

.logoline2 {
	background: linear-gradient(to left, transparent, #1d638f);
	height: 1px;
	width: 600px;
	position: absolute;
	top: 67px;
	left: 234px;
}
