---
---

@import "{{ site.theme }}";

@font-face {
    font-family: audiowide;
    src: url('/assets/fonts/Audiowide-Regular.ttf') format("truetype");
}

.sidebar {
    width: 220px;
    float: left;
    margin-left: 10px;
    margin-top: 30px;
    margin-right: 70px;
}

.links {
    text-align: right;
}

.inner {
    width: 920px;
    float: left;
    margin: 0px;
}

.inner.header {
    position: relative;
}

.logo {
    position: relative;
    float: right;
    height: 100px;
	font-size: 32pt;
}

.logotext1 {
	font-family: audiowide;
	color: #1d638f;
	font-size: 100%;
}

.logotext2 {
	font-family: "Courier New";
	font-size: 50%;
	font-weight: bold;
	position: absolute;
	top: 2.1em;
	left: 3.5em;
	color: #15425e;
}

.logoline1 {
	background: linear-gradient(to right, transparent, #1d638f);
	height: 1px;
	width: 100px;
	position: absolute;
	top: 1.4em;
	right: 3.1em;
}

.logoline2 {
	background: linear-gradient(to left, transparent, #1d638f);
	height: 1px;
	width: 600px;
	position: absolute;
	top: 1.4em;
	left: 4.9em;
}

#downloads {
    margin-top: 40px;
    float: right;
}

h1, h2, h3 {
    color: #505050;
}

header h1 {
	font-family: audiowide;
}